<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.taku.hackathontemplateapplication">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ここからテンプレート用 -->
        <activity android:name=".template.TextViewButtonImageViewActivity" />
        <activity android:name=".template.CheckBoxSwitchProgressBarActivity" />
        <activity android:name=".template.LinearLayoutActivity" />
        <activity android:name=".template.ListViewActivity" />
        <activity android:name=".template.GridViewActivity" />
        <activity android:name=".template.CameraActivity" />
        <activity android:name=".template.GPSActivity" />
        <activity android:name=".template.SensorActivity" />
        <!-- ここまでテンプレート用 -->
    </application>

</manifest>